
body {
  background-image: url('https://i.imgur.com/sSE2GcP.jpg');
  background-size: cover;
  margin-bottom: 20px;
}


.top-header {
  background-image: url('https://i.imgur.com/2z6JPq8.jpg');
  background-size: cover;
  min-height: 320px;
  background-repeat: no-repeat;
}


.ReviewItem {
  box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  -ms-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  -o-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
}

/* Card Color  */
.media-body {
  background-color: #fff;
}

.media{
  height: 230px;
}



.right-text {
  position: relative;
  padding: 17px;
}

.media-body {
  flex: .97;
  height: 230px;
}

.credit {
  text-align: right;
}

.credit_link {
  position: relative;
  left: 3px;
}

@media only screen and (min-width: 1200px) and (max-width: 1366px) {
  .top-header {
    background-position-x: -70px;
  }
}


@media only screen and (width: 1024px) {
  .top-header {
    background-position-x: -130px;
  }
}


/* Mobile */
@media only screen and (min-width: 300px) and (max-width: 414px) {

  .ReviewItem {
    margin-top: 10px;
    position: relative;
    right: 40px;
    box-shadow: none;
}

h4, .h4 {
  font-size: 18px;
}

.media {
  display: block;  /* So the image stacks on top of the text block */
  width: 100%;
  height: auto;   /* Displays the entire height length of the card text */
}

.right-text {
position: relative;
left: 20px;
height: auto;
}

.media-left {
position: relative;
left: 20px;
}

.credit {
  position: relative;
  left: 30px;
}


}


@media only screen and (height: 900px) {
  .top-header {
    background-position-x: -32px;
  }
}
